*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: none;
  color: #fff;
}
body{
  background-color: #2f4f30 !important;
  color: #ffffff;
}
.titulo > h1{
  margin: 0;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
  background-color: #000000;
  
}
.header{
  padding: 1rem; 
}
.subtitle, small{
  color: #fff;
}
.carta{
  position: relative;
  width: 10rem;
  left: 6.5rem;
  margin-left: -4.5rem;
}
#jugador-cartas, #computadora-cartas{
  height: 16rem;
}